.reputation-widget {
  color: #9d9d93;
  float: right;
}

.reputation-button {
  border-radius: 2px;
  color: #96bc44;
}

.reputation-widget ul.rlist {
  background: #ffffff;
  border: solid 1px #cccccc;
  border-radius: 1px;
  margin: 0;
  padding: 0;
}

.reputation-widget ul.rlist li {
  list-style-type: none;
  margin: 0;
  padding: 2px 4px;
}

.reputation-widget .rlist li:hover {
  background: #96bc44;
  cursor: pointer;
}

.reputation-widget .rlist li:hover a {
  color: #ffffff;
}

.reputation-link {
  color: #9d9d93;
  display: block;
  text-decoration: none;
}

.reputation-link:hover {
  text-decoration: none;
}

.reputation-link.undo {
  display: inline;
}

.reputation-text {
  color: #9d9d93;
}
