.reputation-widget {
  position: relative;
}

.reputation-button {
  border: solid 1px;
  cursor: pointer;
  padding: 4px;
  text-align: center;
  width: 30px;
}

.reputation-widget ul.rlist {
  display: none;
  position: absolute;
}
